.sticky-table {
  position: relative;
  height: 100%;
  overflow: hidden;
  border: 2px solid #e5e5e5;
}
.sticky-table .sticky-header {
  position: absolute;
  margin-top: -2px;
  z-index: 2;
}
.sticky-table .sticky-header .cell {
  border-bottom: 2px solid #e5e5e5;
}
.sticky-table .sticky-column, .sticky-table .sticky-header {
  background-color: #fff;
  display: block;
}
.sticky-table .sticky-column {
  position: absolute;
  z-index: 1;
  border-right: 2px solid #e5e5e5;
}
.sticky-table .sticky-table-x-wrapper, .sticky-table .sticky-table-y-wrapper {
  z-index: 0;
  position: relative;
}
.sticky-table .sticky-table-x-wrapper {
  width: 100%;
  overflow-x: scroll;
}
.sticky-table .sticky-table-y-wrapper {
  height: 100%;
  overflow-y: scroll;
}
