/* Elements */
body, html{
  margin: 0;
  padding: 0;
  font-size: 100%;
}
body, a, input, select, textarea, h1, h2, h3{
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
}
h2, h3{
  font-weight: 400;
}
body, a, input, select, textarea{
  font-size: 0.8rem;
}
a{
  text-decoration: none;
}
h1{
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
  font-weight: 300;
}

/* General */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
